@model keyOne.ViewModels.CustomerViewModel
@{
    ViewBag.Title = "Index";
}
<style>
    .validationMessage {
        color: red;
    }
</style>

<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<h3>Customer Details</h3>

<div class="container" style="padding-top:2%;">
        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add New Customer</a>
        <div>
            <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <a href="#" class="close" data-dismiss="modal">&times;</a>
                            <h3 class="modal-title">Customer Details</h3>
                        </div>
                        <div class="modal-body">
                            <form id="myForm">
                                    @Html.LabelFor(m => m.Customers.CustomerName)
                                    @Html.TextBoxFor(model => model.Customers.CustomerName, new { @class = "form-control",@placeholder = "CustomerName",  @data_bind = "value:Name, valueUpdate: 'keyup'"})
                                    @Html.ValidationMessageFor(m => m.Customers.CustomerName, "", new { @class = "text-danger" })
                                   
                                <span id="myForm"></span>
                                    <div>
                                        @Html.LabelFor(model => model.Customers.CustomerAddress)
                                        @Html.TextBoxFor(model => model.Customers.CustomerAddress, new { @class = "form-control", @placeholder = "CustomerAddress", @data_bind = "value:Address, valueUpdate: 'keyup'" })
                                        @Html.ValidationMessageFor(m => m.Customers.CustomerAddress, "", new { @class = "text-danger" })

                                    </div>
                               
                                </form>
                        </div>
                        <div class="modal-footer">
                           

                            <input type="reset" value="Save" class="btn btn-default" id="btnSubmit" />
                            <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>



                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (!Model.CustomersList.Any())
        {
            <p style="margin: auto;width: 50%;padding: 10px;">There are No Customers Yet!!</p>
        }
        else
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.Label("Customers.CustomerName")
                        </th>
                        <th>
                            @Html.Label("Customers.CustomerAddress")
                        </th>
                        <th>@Html.Label("Action(Edit)")</th>
                        <th>@Html.Label("Action(Delete)")</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.CustomersList)
                    {
                        <tr id="row_@item.CustomerId">
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerAddress)
                            </td>
                            <td><a href="#" class="btn btn-warning" onclick="EditCustomer(@item.CustomerId)"><i class="glyphicon glyphicon-edit">&nbsp;Edit</i> </a> </td>
                            <td><a href="#" class="btn btn-danger" onclick="ConfirmDelete(@item.CustomerId)"><i class="glyphicon glyphicon-trash"> Delete</i> </a> </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        <div class="modal fade" id="myModalDelete">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                        <h3 class="modal-title">Delete Employee</h3>
                    </div>
                    <div class="modal-body" id="myBodyDiv">
                        <h4>Are you sure ? You want to delete this. </h4>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                        <a href="#" class="btn btn-success" onclick="DeleteCustomer()">Confirm</a>
                    </div>
                </div>
            </div>
            <input type="hidden" id="hiddenCustomerId" />
        </div>
        <div class="modal fade" id="myModal1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                        <h3 class="modal-title">Customer Details</h3>
                    </div>
                    <div class="modal-body" id="myModalBodyDiv1">
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                        <input type="reset" value="Save" class="btn btn-default" id="Edit" />
                    </div>

                </div>

            </div>

        </div>
    </div>
    <script src="~/Scripts/knockout-3.4.2.debug.js"></script>
    <script src="~/Scripts/knockout.validation.js"></script>
    <script>
        $(document).ready(function () {
            (function ($) {
                var contactInfo = {
                    Name: ko.observable($("#Name").val()).extend({
                        required: {
                            params: true,
                            message: "Please Enter The Name"
                        }, minLength: {
                            params: 2,
                            message: "Invalid Name , Please Enter Atleast 2 Letters"
                        }, maxLength: 50
                    }),
                    Address: ko.observable($("#Address").val()).extend({
                        required: {
                            params: true,
                            message: "Please Enter The Address"
                        }, minLength: {
                            params: 2,
                            message: "Invalid Address , Please Enter Atleast 2 Letters"
                        }, maxLength: 200
                    })
                };


                ko.applyBindings(contactInfo);
            }($))
            $("#btnSubmit").click(function () {
               
                var data = $("#myForm").serialize();
                if (!$("#myForm").valid()) {
                    return false;
                }

                $.ajax({
                    type: "POST",
                    url: "/Customer/Index",
                    data: data,
                    success: function (response) {

                        var message = $("#message");
                        if (response) {
                            $("#myModal").modal("hide");
                            window.location.href = "/Customer/Index";
                        }
                        else {
                            message.html("Name already exists");
                        }
                    }
                })
            })
        })

            
        var ConfirmDelete = function (CustomerId) {
            $("#hiddenCustomerId").val(CustomerId);
            $("#myModalDelete").modal('show');
        }
        var DeleteCustomer = function () {
            var cId = $("#hiddenCustomerId").val();
            $.ajax({
                type: "POST",
                url: "/Customer/DeleteCustomer",
                data: { CustomerId: cId },
                success: function (result) {
                    $("#myModalDelete").modal("hide");
                    $("#row_" + cId).remove();
                }
            })
        }
        var EditCustomer = function (CustomerId) {
            var url = "/Customer/EditCustomer?CustomerId=" + CustomerId;
            $("#myModalBodyDiv1").load(url, function () {
                $("#myModal1").modal("show");
            })
        }
        
       
    </script>
